

body{
    margin: 0;
    padding: 0;
}

.cuerpo {


    background-color: #ffffff;
    

}



.logo_magnolia{

    display: block;
    text-align: center;
    align-items: center;
    

}



.navegador{

    align-items: center;
    text-align: center;
    padding-bottom: 0px;
    margin: none;
    display: flex;
    flex-direction: column;
    padding: 0px;



}

#hambur{
    display: none;
    font-family: 'Alegreya Sans', sans-serif;
}


#titulo{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

#titulo_wrap{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

#logo{
    height: 100px;
    width: 200px;
}

.menu{
    
    display: flex;
    z-index: 1000;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    
}

.menu li{
    display: inline-block;
    position: relative;  
    padding-left: 40px; 
    padding-right: 40px;
    padding-bottom: 0px;
}

.menu li a{
    text-decoration: none;
    color: black;
    transition-timing-function: linear;
    transition: 1s;
    
}

.menu a:hover{
    color:grey;
    cursor: pointer;
    font-size: 24px;
    border-radius: 30px; 
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    
   
    
}



.submenu{
    display: none;
    position: absolute;
    left: 0;
    

    
    
}

.submenu li{
    display: block;
    background-color: #ffffff;
    
}

.menu li:hover .submenu{
    display: block;
    left: 0;
    
   
}



.fotos{


    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px;
    
    

}

#imagen_index_1{

    height: 275px;
    width: 275px;
    padding: 10px;
    border-radius: 30px;
    transition: width 2s, height 2s, transform 2s;
    transition-delay: 1s;

    


}

#imagen_index_1:hover{

    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    box-shadow:  20px 20px 60px #bebebe,
                 -5px -5px 10px #ffffff;
}

#imagen_index_2{
    height: 275px;
    width: 275px;
    padding: 10px;
    border-radius: 30px;
    border-radius: 30px;
    transition: width 2s, height 2s, transform 2s;
    transition-delay: 1s; 
    
                
}

#imagen_index_2:hover{

    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

#imagen_index_3{
    height: 275px;
    width: 275px;
    padding: 10px;
    border-radius: 30px;
    border-radius: 30px;
    transition: width 2s, height 2s, transform 2s;
    transition-delay: 1s;
}

#imagen_index_3:hover{

    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}


#imagen_index_4{
    height: 275px;
    width: 275px;
    padding: 10px;
    border-radius: 30px;
    border-radius: 30px;
    transition: width 2s, height 2s, transform 2s;
    transition-delay: 1s;
}

#imagen_index_4:hover{

    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}


.ubicacion{


    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    
   
}

.ubicacion h3{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 35px;
}

#google_maps{
    width: 800px;
    height: 450px ;
    border-radius: 30px;
    padding-left: 2px;
    padding-right: 2px;
}

.footer{


    
    text-align: center;
    left: 40px;
    right: 40px;
    font-family: 'Alegreya Sans', sans-serif;  
   
}



/*-------------------------------------------------------*/

/* Comienza pagina de contacto */

.linea{

    background-color: grey;
    width: 60%;
    border-color: none;   
    padding-bottom: 0px;
    padding: none;
    margin: none;
}


.texto_largo{
    

}

.intro_contacto{
    display: inline;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif; 
    margin-left: 30%;
    margin-right: 30%;

}
.info_contacto{
    display: inline;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    
    margin-right: 30%;
    margin-left: 0%;
    
}



.formulario{
    
    text-align: left;
    font-family: 'Alegreya Sans', sans-serif;   
    
   
}

.form{

    display: flex;
    align-content: center;
    justify-content: center;

    
}

.formulario legend{
    text-align: left;
}




.area_texto{

    font-family: 'Alegreya Sans', sans-serif;
    color: black;
    font-weight: 2000;
    background-color: rgb(216, 217, 218);
    border-width: 1px;

}



#ubicacion_contacto{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: none;
    padding: none;
}

.info_contacto{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Alegreya Sans', sans-serif;
    height: max-content;


}



/*-------------------------------------------------------*/

/* Comienza pagina de Precios */


.precios{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}


.titulo_precios{

    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 1%; 
    font-weight: 2000;
    font-size: 35px;
}



.tabla{
    text-align: left;
    table-layout: fixed;
    margin-left: 40%;
    margin-right: 40%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 10%;
    


}

/*-------------------------------------------------------*/

/* Comienza pagina de Casamientos */

.magnolia_titulo_sobremi{

    display: flex;
    align-content: center;
    justify-content: center;
}

.texto_casamiento{
    
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px; 
    padding-bottom: 3%;
}


.foto_casamiento{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    
}

#foto_casamiento{
    height: 275px;
    width: 240px;
    padding: 10px;
    border-radius: 30px;
    margin: 20px;
    margin-bottom: 30px;
}

/*-------------------------------------------------------*/

/* Comienza pagina de Sobre Mi */


.texto_sobremi{

    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px; 
    padding-bottom: 3%;
}


.magnolia_titulo_sobremi{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Alegreya Sans', sans-serif;
}

/* ---------------- ARRANCA MOBILE -----------------------*/

@media screen and (max-width:767px) {


    .menu{
        font-size: 19px;
        padding: none;

    }

    .logo_magnolia{
        display: none;
    }
    .menu{
        display: none;
    }


    #hambur{
        display: block;

    }

    .fotos{

    }

    .ubicacion h3{
        font-size: 20px;
    }

    #google_maps{
        width: 400px;
        height: 225px ;
        padding-left: 2px;
        padding-right: 2px;
    }

    .formulario{
        font-size: 10px;
    }

    .intro_contacto{
        font-size: 14px;
    }

    .titulo_precios{
        font-size: 18px;
    }

    .tabla{
        font-size: 12px;
    }    


    .texto_casamiento{
        font-size: 15px;
    }
    
}


/* ---------------- ARRANCA TABLET -----------------------*/

@media screen and (max-width:1023px) {
 
    
    .ubicacion h3{
        font-size: 25px;
    }

    

    #google_maps{
        width: 600px;
        height: 325px ;
        padding-left: 2px;
        padding-right: 2px;
    }

    .formulario{
        font-size: 12px;
    }

    .intro_contacto{
        font-size: 18px;
    }

    .titulo_precios{
        font-size: 22px;
    }

    .tabla{
        font-size: 15px;
    }    


    .texto_casamiento{
        font-size: 15px;
    }


}

