.magnolia_titulo_sobremi{

    display: flex;
    align-content: center;
    justify-content: center;
}

.texto_casamiento{
    
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px; 
    padding-bottom: 3%;
}


.foto_casamiento{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    
}

#foto_casamiento{
    height: 275px;
    width: 240px;
    padding: 10px;
    border-radius: 30px;
    margin: 20px;
    margin-bottom: 30px;
}
