.linea{

    background-color: grey;
    width: 60%;
    border-color: none;   
    padding-bottom: 0px;
    padding: none;
    margin: none;
}




.intro_contacto{
    display: inline;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif; 
    margin-left: 30%;
    margin-right: 30%;

}
.info_contacto{
    display: inline;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    
    margin-right: 30%;
    margin-left: 0%;
    
}



.formulario{
    
    text-align: left;
    font-family: 'Alegreya Sans', sans-serif;   
    
   
}

.form{

    display: flex;
    align-content: center;
    justify-content: center;

    
}

.formulario legend{
    text-align: left;
}




.area_texto{

    font-family: 'Alegreya Sans', sans-serif;
    color: black;
    font-weight: 2000;
    background-color: rgb(216, 217, 218);
    border-width: 1px;

}



#ubicacion_contacto{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: none;
    padding: none;
}

.info_contacto{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Alegreya Sans', sans-serif;
    height: max-content;


}
