@media screen and (max-width:767px) {


    .menu{
        font-size: 19px;
        padding: none;

    }

    .logo_magnolia{
        display: none;
    }
    .menu{
        display: none;
    }


    #hambur{
        display: block;

    }

    .fotos{

    }

    .ubicacion h3{
        font-size: 20px;
    }

    #google_maps{
        width: 400px;
        height: 225px ;
        padding-left: 2px;
        padding-right: 2px;
    }

    .formulario{
        font-size: 10px;
    }

    .intro_contacto{
        font-size: 14px;
    }

    .titulo_precios{
        font-size: 18px;
    }

    .tabla{
        font-size: 12px;
    }    


    .texto_casamiento{
        font-size: 15px;
    }
    
}


/* ---------------- ARRANCA TABLET -----------------------*/

@media screen and (max-width:1023px) {
 
    
    .ubicacion h3{
        font-size: 25px;
    }

    

    #google_maps{
        width: 600px;
        height: 325px ;
        padding-left: 2px;
        padding-right: 2px;
    }

    .formulario{
        font-size: 12px;
    }

    .intro_contacto{
        font-size: 18px;
    }

    .titulo_precios{
        font-size: 22px;
    }

    .tabla{
        font-size: 15px;
    }    


    .texto_casamiento{
        font-size: 15px;
    }


}

