.texto_sobremi{

    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px; 
    padding-bottom: 3%;
}


.magnolia_titulo_sobremi{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Alegreya Sans', sans-serif;
}
